{% block header %}
    {% include  'common/header.html' %}
{% endblock header %}

{% load static %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Registration</h2>
          <ol>
            <li><a href="/login">Login</a></li>
            <li>Registration</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
      <div class="container">



        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10"> 
            <h2><p>Registration Form</p></h2> 
            <form action="/signup" method="POST" role="form" >
              {% csrf_token %}
              <div class="form-group mt-3">
                <div class="col-md-6 form-group">
               {% include 'common/message.html' %} 
                    <label class="info-title">Username</label>
                    <input type="text" name="uname" class="form-control" id="username" placeholder="Your username" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="col-md-6 form-group">
               
                    <label class="info-title">First Name</label>
                    <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="col-md-6 form-group">
               
                    <label class="info-title">Last Name</label>
                    <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <div class="col-md-6 form-group">
                    <label class="info-title">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">                  
                <div class="col-md-6 form-group">
                    <label class="info-title">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>                  
              </div>
              <div class="form-group mt-3">                  
                <div class="col-md-6 form-group">
                    <label class="info-title">Password Confirmation</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Password Confirmation" required>
                </div>                  
              </div>
            <div class="form-group mt-3">
                Have an account ? <a href="/login"> Login </a>
            </div>
            <div class="form-group mt-3">  
              <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-success">Register</button>
              </div>
            </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  
{% block footer %}
    {% include  'common/footer.html' %}
{% endblock footer %}